@font-face{
    font-family: Cyberpunk;
    src: url("./fonts/Cyberpunk.ttf")
}

@font-face{
    font-family: CountDownDigit;
    src: url("./fonts/Kill\ The\ Noise.otf");
}

@media screen and (max-width: 640px){
    #countdown{
        display: flex;
        flex-flow: column wrap !important;
        justify-content: center !important;
        align-items: center;
        margin-top: 5rem !important;
        margin-bottom: 5rem !important;
    }
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 auto;
}

body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("./cyberpunk.png");
    object-fit: cover;
    background-position: bottom center;
}

header{
    display: flex;
    justify-content: center;
}

h1{
    display: inline-block;
    font-family: Cyberpunk;
    font-size: 6rem;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.5rem;
    margin-top: 1.1rem;
    overflow: hidden;
    min-width: 650px;
    word-wrap: break-word;
}

#countdown{
    display: flex;
    flex-flow: row wrap;
    margin-top: 14rem;
    text-align: center;
    justify-content: center;
}

.count-text{
    font-family: CountDownDigit;
    font-size: 7rem;
    color: #222;
    line-height: 1;
    margin: 0 4rem;
}

.count-elem{
    text-align: center;
    align-items: center;
}

.count-elem span{
    font-family: CountDownDigit;
    font-size: 1.5rem;
    color: #222;
    text-align: center;
}